/**
 * Text alignment
 */
.text--left     { text-align:left  !important; }
.text--center   { text-align:center!important; }
.text--right    { text-align:right !important; }


/**
 * Font weights
 */
.weight--light      { font-weight:300!important; }
.weight--normal     { font-weight:400!important; }
.weight--semibold   { font-weight:600!important; }


/**
 * Add/remove margins
 */
.push           { margin:       2em!important; }
.push--top      { margin-top:   2em!important; }
.push--right    { margin-right: 2em!important; }
.push--bottom   { margin-bottom:2em!important; }
.push--left     { margin-left:  2em!important; }
.push--ends     { margin-top:   2em!important; margin-bottom:2em!important; }
.push--sides    { margin-right: 2em!important; margin-left:  2em!important; }

.push-half          { margin:       1em!important; }
.push-half--top     { margin-top:   1em!important; }
.push-half--right   { margin-right: 1em!important; }
.push-half--bottom  { margin-bottom:1em!important; }
.push-half--left    { margin-left:  1em!important; }
.push-half--ends    { margin-top:   1em!important; margin-bottom:1em!important; }
.push-half--sides   { margin-right: 1em!important; margin-left:  1em!important; }

.flush          { margin:       0!important; }
.flush--top     { margin-top:   0!important; }
.flush--right   { margin-right: 0!important; }
.flush--bottom  { margin-bottom:0!important; }
.flush--left    { margin-left:  0!important; }
.flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
.flush--sides   { margin-right: 0!important; margin-left:  0!important; }


/**
 * Add/remove paddings
 */
.soft           { padding:       2em!important; }
.soft--top      { padding-top:   2em!important; }
.soft--right    { padding-right: 2em!important; }
.soft--bottom   { padding-bottom:2em!important; }
.soft--left     { padding-left:  2em!important; }
.soft--ends     { padding-top:   2em!important; padding-bottom:2em!important; }
.soft--sides    { padding-right: 2em!important; padding-left:  2em!important; }

.soft-half           { padding:       1em!important; }
.soft-half--top      { padding-top:   1em!important; }
.soft-half--right    { padding-right: 1em!important; }
.soft-half--bottom   { padding-bottom:1em!important; }
.soft-half--left     { padding-left:  1em!important; }
.soft-half--ends     { padding-top:   1em!important; padding-bottom:1em!important; }
.soft-half--sides    { padding-right: 1em!important; padding-left:  1em!important; }

.hard           { padding:       0!important; }
.hard--top      { padding-top:   0!important; }
.hard--right    { padding-right: 0!important; }
.hard--bottom   { padding-bottom:0!important; }
.hard--left     { padding-left:  0!important; }
.hard--ends     { padding-top:   0!important; padding-bottom:0!important; }
.hard--sides    { padding-right: 0!important; padding-left:  0!important; }


/**
 * Add custom editor styles here
 */

@font-face {
    font-family: 'Montserrat-Medium';  
    src: url(./Montserrat-Medium.ttf);  
    font-weight: normal;  
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat-SemiBoldItalic';  
    src: url(./Montserrat-SemiBoldItalic.ttf);  
    font-weight: normal;  
    font-display: swap;
}
@font-face {
    font-family: 'Oswald-Medium';  
    src: url(./Oswald-Medium.ttf);  
    font-weight: normal;  
    font-display: swap;
}

body {
	overflow-anchor: none;
}

h1, .h1 {
    font-family: 'Oswald-Medium', sans-serif;
    font-size: 53px;
    font-display: swap;
    font-weight: normal;  
}

h2, .h2 {
    font-family: 'Oswald-Medium', sans-serif;
    font-size: 48px;
    font-display: swap;
    font-weight: normal;  
}

h3, .h3 {
    font-family: 'Oswald-Medium', sans-serif;
    font-size: 36px;
    font-display: swap;
    font-weight: normal;  
}

h4, .h4 {
    font-family: 'Oswald-Medium', sans-serif;
    font-size: 28px;
    font-display: swap;
    font-weight: normal;  
}

p, ul, ol {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
    font-display: swap;
    font-weight: normal;  
}      

ul li {
	/* set up bullets as a :before or icon element, not as a background image */
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
    line-height: 1.55em;
}
    ul:not(.footer-copright-links) li:not(.menu-item):before {
        content: '';
        position: absolute;
        top: 10px;
        left: -30px;
        height: 5px;
        width: 5px;
        background-color: #297FD5;
        border-radius: 50%;
    }

hr {
}

a {
    font-family: 'Oswald-Medium', sans-serif;
    text-decoration: none;
    font-weight: normal;
	word-break: break-word; /* force link text to overflow when too long for container */ 
}

a:hover {}

.subheading{ font-size: 20px; }


.btn {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #297FD5;
    color: white;
    text-align: center;
    min-width: 178px;
    letter-spacing: 2px;
    padding: 14px 30px;
    transition: all 0.3s ease-in-out;
    border: none;
    font-family: 'Oswald-Medium', sans-serif;
    font-weight: normal;
    font-display: swap;
    outline: 0;
    display: inline-block;
    width: auto;
}

    .btn:hover {
        background-color: #0E4D8D;
        box-shadow: 5px 5px 15px 0 rgba(36, 40, 82, 0.15);
        transform: scale(1.05);
    }

.btn-secondary {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #A7D3FF;
    color: #242852;
    text-align: center;
    min-width: 178px;
    letter-spacing: 2px;
    padding: 14px 30px;
    transition: all 0.3s ease-in-out;
    border: none;
    font-family: 'Oswald-Medium', sans-serif;
    font-weight: normal;
    font-display: swap;
    outline: 0;
    display: inline-block;
    width: auto;
}

    .btn-secondary:hover {
        background-color: #77BBFF;
        box-shadow: 5px 5px 15px 0 rgba(36, 40, 82, 0.15);
    }

.btn-tertiary{
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
}
.btn-tertiary svg {
    height: 17px;
    width: 30px;
    fill: white;
    transform: scale(0.7);
}
    .btn-tertiary:hover{
        font-size: 22px;
    }

.hyperlink, p a{
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
    color: #242852;
    position: relative;
}
.hyperlink:after, p a:after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 60%;
    width: 100%;
    background-color: #CBE5FF;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.hyperlink:hover:after, p a:hover:after {
    top: 0;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-inline-block{
    display: inline-block;
}

.btn + .btn {
	margin-top: 5px; /* Add margin-top when 2 buttons are next to each other */
}